<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Main</title>
</head>
<body>

<br>
<form action="/msal4jsample/sign_out">
    <input type="submit" value="Sign out" class="btn btn-danger">
</form>
<br>
<br>

<h3>Logged in Account:</h3>
<br>
<table border="1" class="table">
    <thead>
    <tr>
        <th>Username</th>
        <th>Environment</th>
        <th>Tenant Id</th>
    </tr>
    </thead>
    <tbody>
        <td th:text="${account.username()}"></td>
        <td th:text="${account.environment()}"></td>
        <td th:text="${tenantId}"></td>
    </tbody>
</table>

<br/>

<!--<form action="/graph/users">-->
<!--    <input type="submit" value="Show Users">-->
<!--</form>-->

<span th:if="${users != null}">
    <h3>List of users registered in the tenant</h3>

    <div th:utext="${users}"> </div>
</span>

<form action="/obo_api">
    <input type="submit" value="Call Obo Api" class="btn btn-primary">
</form>

<form action="/crearReunion">
    <input type="submit" value="Crear Nueva Renion" class="btn btn-success">
</form>

<span th:if="${obo_api_call_res != null}">
    <h3>OnBehalfOf Api call result:</h3>

    <div th:utext="${obo_api_call_res}"> </div>
</span>

</body>
</html>